@tailwind base;
@tailwind components;
@tailwind utilities;
table td, table th {
    text-align: left !important;
    position: relative;
}
.dt-search input[type="search"] {
    margin-left: 4px;
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
}

/* Make search bar move into its own wrapper */
.search-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

/* Make filter move */
.filter-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

select {
    padding: 4px 6px;
    border-radius: 4px;
}

:root {
    --primary: #5c297c;
    --secondary: #f0a71f;
    --light: #ffffff;
    --gray: #dbdbdb;
    --darkgray: #a9a9a9;
    --lightgray: #f5f5f5;
    --blue: #0096ff;
    --darkblue: #00008b;
    --whitepurple: #9954c4;
}